@import 'tailwindcss';

:root {
    --secondary: #121212;
    --primary: #0037c1;
    --background: #ffffff;
    --foreground: var(--secondary);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #0037c1;
    --color-secondary: #121212;
    --color-warning: #eab308;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: var(--secondary);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* CUSTOM */

.selected-skip-button-selected #skip-button {
    border-color: #0037c1 !important;
}

.selected-skip-button-selected #skip-button > div {
    display: block !important;
}

.selected-skip-button-unselected [id^='skip-button'] {
    border-color: #d1d5dc !important;
}

.selected-skip-button-unselected [id^='skip-button'] > div {
    display: none !important;
}

#skip-list {
    overflow: auto;
}

#skip-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#skip-list::-webkit-scrollbar-track {
    background: transparent;
}

#skip-list::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 4px;
    opacity: 0.6;
}

#skip-list::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}

/* For Firefox */
#skip-list {
    scrollbar-color: var(--color-secondary) transparent;
    scrollbar-width: thin;
}
